@import "../styles/design-tokens.css";
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');

/* Basic Reset */
* { margin: 0; padding: 0; box-sizing: border-box; }



/* GENERAL STYLES */


html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-body);
  background: var(--gray-100);
  color: var(--text-default);
  line-height: var(--tracking-normal);
  margin: 0 auto;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--text-default);
}





h1, .display {
font: var(--display);
  font-optical-sizing: auto;
  font-variation-settings:
  "SOFT" 60,
  "WONK" 0;
  letter-spacing: var(--tracking-tight);

}

h2, .heading-l {
  font: var(--heading-l);
  letter-spacing: var(--tracking-tighter);
  
  font-variation-settings:
  "SOFT" 0,
  "WONK" 0;
  
}

.heading-m {
  font: var(--heading-m);
  letter-spacing: var(--tracking-tighter);
  text-wrap: balance;
}

.heading-s {
  font: var(--heading-s);
  letter-spacing: var(--tracking-tighter);
  text-wrap: balance;
}


.body-l {
  font: var(--body-l);
  letter-spacing: var(--tracking-tighter);
  text-wrap: balance;
}

.body-m {
  font: var(--body-m);
  letter-spacing: var(--tracking-tight);
  text-wrap:inherit;
  
}

.body-s {
  font: var(--body-s);
  letter-spacing: var(--tracking-normal);
  text-wrap: balance;
}





/* UTILITIES */


.btn--default {
  color: var(--text-default);
  background-color: transparent;
  border: solid 1px var(--border-strong);

  &:hover {
border: solid 1px var(--text-default);
}
}

.btn--inverse {
  color: var(--text-inverse);
  background-color: transparent;
  border: solid 1px var(--red-300);

    &:hover {
border: solid 1px var(--red-100);
}
}





.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--space-4) var(--space-5);
  border-radius: var(--radius-pill);
  font: var(--button-text);
  cursor: pointer;
  gap: var(--space-2);
  transition: var(--default-transition);
  width: fit-content;

  
&:hover {
  transform: var(--move-up) ;
  box-shadow: var(--shadow-m);

  &:active {
    transform: scale(0.95);
  }
  
  
}

}
.cta {
  background-color: var(--primary);
  color: var(--text-inverse);
  border: none;
  font-size: 1.4rem;
  padding: var(--space-5) var(--space-6);
  
&:hover {
  background-color: var(--primary-hover);
  
  box-shadow: var(--shadow-solid);
}


}





.stack {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: var(--space-5);
  padding: var(--space-4);



}




.section {

  padding: var(--padding-block) var(--padding-inline);
  
  .content-wrapper {
   max-width: var(--content-width);
   display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 450px), 1fr));
  margin: auto;
  column-gap: 5rem;
  row-gap: 1rem;
  
}
  
}


@media (max-width: 768px) {
    .section {
      padding-inline: 0;
    }
    .content-wrapper {
      grid-template-columns: 1fr; 
        max-width: 100%;
      
    }
    .stack {
      padding-inline: 6vw;
        
    }
    
  
  }


.section__header {
  
 padding-bottom: var(--padding-block);
 display: flex;
 flex-direction: column;
 gap: var(--space-7);
  align-items: center;
  text-align: center;
    h2 {
    
    max-width: 20ch;
  }
   
p {
  max-width: 65ch;
  

  
}

}




.asimetric-section {

  padding: var(--padding-block) 0;
  padding-left: calc((100% - var(--content-width)) / 2);
  .content-wrapper {
   max-width:100%;
   display: grid;
 align-items: center;
  margin: auto;
  column-gap: 5rem;
  row-gap: 2rem;
  padding: 0;
  grid-template-columns: 1fr 2fr;
  
}

}







@media (max-width: 1024px) {

  .asimetric-section  {
   .content-wrapper {
   max-width:100%;
   display: grid;
 align-items: center;
  margin: auto;
  column-gap: 4rem;
  row-gap: 2rem;
  padding: 0;
 
  
  
}
  }
  
}

@media (max-width: 768px) {
  .asimetric-section {

     padding-inline: 0;

      .content-wrapper {
    grid-template-columns: 1fr;
  }
  }
  
}











@media (max-width: 767px) {
  .swiper-arrow {
    display: none !important;
  }
}



/* HERO */

.hero {
  background: linear-gradient(to right, rgba(0, 0, 0, .6), rgba(0, 0, 0, 0)), url(/assets/hero-img.webp);
  height: 100vh;
  align-content: center;
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  }
  
  .hero__content {
  h1 {
    
    color: var(--text-inverse);
  }
 
  p{
    color: var(--text-inverse-secondary);
  
       max-width: 40ch;
  }

.btn {
  margin-top: var(--space-2);
  
}
}


/* Tablet */
@media (max-width: 1024px) {
  .hero {
    
    height: 50dvh;
    p {
      text-align: left;
    }
  }
  
}

/* Mobile */
@media (max-width: 767px) {

  .hero {
    background: url(/assets/hero-img-mobile.webp);
    background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-content: start;
  
    height: 80dvh;
    p {
      text-align: left;
    }
  }
  
}


/* ABOUT */

.about__content {
display: flex;
flex-direction: column;
gap: var(--space-8) ;

  p {
    
  max-width:90%;
  color: var(--text-secondary);

  }
}

.about__block {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);

}


.kicker-tag {
  font-size: var(--body-s-size);
  line-height: normal;
  letter-spacing: var(--tracking-tight);
  font-weight: var(--weight-bold);
  text-transform: uppercase;

 
  font-family: var(--font-body);
  color: var(--primary);
}


.about h3 {
  font: var(--heading-lb);
   font-variation-settings:
 
  "WONK" 0;

  span {
    color: var(--primary);
  }


}











/* NUMBERS */

 .numbers {
    background-color: var(--dark);
    background: linear-gradient(180deg,rgb(54, 54, 54) 20%, var(--gray-900) 100%);
 


}


.numbers__header {
  h2 {
    color: var(--text-inverse);
    text-wrap: balance;
    
  }
  p {
    color: var(--text-inverse);
    opacity: .8;
  }
}

.numbers__wrapper {
  background-color: var(--gray-800);
  padding: var(--space-4);
  border-radius: var(--radius-l);
}

 




/* ACTIONS */

.actions .accordion {
gap: 0;
}


.actions .content-wrapper  {
  
 
align-items: center;
}


/* Accordion */

.accordion.stack {
  
  padding: 0;
  
}

.accordion__item {
  border-bottom: 1px solid var(--border-strong);
}

.accordion__trigger {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: var(--space-4);
  background: none;
  border: 0;
   cursor: pointer;
   transition: all .15s ease;

  
}

.accordion__trigger:hover {
  color: var(--text-secondary);
  transform: translateX(3px);
}

.accordion__trigger:focus {
  color: var(--text-secondary);
  
}

.accordion__content {
  display: grid;
  grid-template-rows: 0fr;

  transition: grid-template-rows 0.15s ease;
}

.accordion__content p {
  overflow: hidden;
  margin: 0;
  padding-bottom: 0;

  color: var(--text-secondary);
}

.accordion__item.is-open .accordion__content {
  grid-template-rows: 1fr;
}

.accordion__item.is-open .accordion__content p {
  padding-bottom: var(--space-4);
}





/* Accordion Icon */


.accordion__icon .ph-minus {
  display: none;
}

.accordion__item.is-open .accordion__icon .ph-plus {
  display: none;
}

.accordion__item.is-open .accordion__icon .ph-minus {
  display: inline-block;
}

.accordion__icon i {
  color: var(--text-secondary);
  font-size: .8em;
}

/* Accordion Images */

.accordion__images {
  position: relative;
  aspect-ratio: 4 / 3;
}

.accordion__images img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
border-radius: var(--radius-l);
  opacity: 0;
  transition: opacity 0.4s ease;
}

.accordion__images img.is-active {
  opacity: 1;
}













/* SHOP */

.shop {
background: linear-gradient(180deg,var(--primary) 40%, var(--red-700) 100%);

  .content-wrapper {
    align-items: center;
  }
}

.shop__header {
  

  h2 {
    color: var(--text-inverse);
  }
  p {
    color: var(--text-inverse);
  
    opacity: .8;
  }
}

/* ADOPTIONS */

.adoptions {
 background-color: var(--gray-200);
padding: var(--padding-block) 0;



  .content-wrapper {
width: 100%;
 overflow-x: visible;

 
}}

@media (max-width: 767px) {

 .adoptions {
  
 }
  
}




/* HELP */

.card-grid {

  padding: var(--padding-block) var(--padding-inline);
 

  
  .content-wrapper {
   max-width: var(--content-width);
   display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 250px), 1fr));
  margin: auto;
  column-gap: var(--space-6);
  row-gap: var(--space-4);
  
}}



.help .content-wrapper{
  padding-top: var(--space-1);
  max-width: clamp(750px, 85%, 1200px);
}

/* DONATIONS*/

.donation-card {
  display: flex;
  flex-direction: column;
  gap: var(--space-7);
  padding: var(--space-6);
  border-radius: var(--radius-l);
  transition: box-shadow .2s ease;
  p {
    max-width:35ch;
   
    color: var(--text-secondary);
  }
 
 

&:hover {
  box-shadow: var(--shadow-m);
  
}

}

.donation-card__content {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
}

.donation-card .btn {
 
  justify-content: center;
  color: var(--text-inverse);
  font-size: 1.4rem;
  padding: var(--space-5) var(--space-6);
  margin-top: var(--space-5);
  &:hover {
    box-shadow: var(--shadow-solid);
  }
}

.donation-card__teaming {
  background-color: var(--teaming-light-green);
  .btn {
    background-color: var(--teaming-green);  
  }
}

.donation-card__teaming {
  background-color: var(--teaming-light-green);
   img {
    width: 12rem;
  }
  .btn {
    background-color: var(--teaming-green);  
  }
}

.donation-card__bizum{
  background-color: var(--bizum-light-blue);
   img {
    width: 10rem;
  }
  .btn {
    background-color: var(--bizum-blue);  
     cursor: pointer;
    transition: all .2s ease;
  }




}

.donations {
  padding-inline: 1rem;
  padding-top: var(--space-7);
}

.donations h2 {
  font: var(--heading-lb);
}

.donations .section__header {
  padding-bottom: var(--space-9);
}


/* FOOTER */

.footer {
  background-color: var(--gray-900);
  padding-bottom: var(--space-7);
   
  p {
  
  max-width: 80%;
  
  color: var(--text-inverse-secondary);
 

}
h2, h3 {
  color: var(--text-inverse);
  text-wrap: balance;
}

.content-wrapper {
  align-items: start;
}




}



@media (max-width: 1024px) {

  .footer {
    padding-bottom: var(--space-4);
  }
  
}

.footer__info .link {
color: var(--text-inverse);
}

.footer__legal .link {
color: var(--text-inverse-muted);
font: var(--body-s);
&:hover {
  color: var(--text-inverse-secondary);
}
}



.social-link {
 color: var(--text-inverse);
}

.link {
 display: flex;
  flex-direction: row;
  gap: var(--space-3);
  align-items: center;

width: fit-content;
transition: var(--default-transition);

&:hover {
  transform: translateX(4px);
  opacity: .8;
}

}

.link__icon {


color: var(--icon-inverse);
font: var(--heading-m);
font-weight: var(--weight-regular);
border-radius: var(--radius-pill);



}

.footer__contact {
  padding-bottom: 3rem;
}

.footer__legal {

  border-top: solid 1px var(--gray-800);
    display: flex;
  flex-direction: row;
  gap: 2rem;

  
  align-items: center;
  font: var(--body-copy-s);
 padding-top: 1rem;
}









 





