---
import "../styles/styles.css";
import Card from "../Components/Card.astro";
import Header from "../Components/Header.astro";
import Boton from "../Components/Boton.astro";
import Botonblanco from "../Components/Boton blanco.astro";
import Footer from "../Components/Footer.astro";
import Iconotexto from "../Components/Icono-texto.astro";
import Carruselinicial from "../Components/Carrusel inicial.astro";
import Carruselfull from "../Components/Carrusel full.astro";
import Carruseltienda from "../Components/Carrusel tienda.astro";
import IconoTexto from "../Components/Icono-texto.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Latido en Boxes</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght,SOFT,WONK@0,9..144,100..900,0..100,0..1;1,9..144,100..900,0..100,0..1&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/bold/style.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/regular/style.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/fill/style.css"
    />
  </head>
  <body>
    <!-- HERO -->
    <div class="section hero-section">
      <div class="overlay">
        <div class="content-wrapper">
          <div class="col">
            <h1 class="fraunces-h1">Latido<br />en Boxes</h1>
            <p>
              Una asociación solidaria de apoyo al galgo que une el mundo del
              motor con la protección animal.
            </p>
            <a href="#como-ayudar" class="button button-accent">
              <i class="ph-fill ph-heart"></i>Quiero ayudar</a
            >
          </div>
        </div>
      </div>
    </div>

    <!-- NOSOTROS -->

    <div class="asimetric-section nosotros-section">
      <div class="content-wrapper">
        <div class="col">
          <div class="col-1">
            <h2 class="fraunces-title">Nuestra<br /> misión</h2>
            <p>
              Es <strong>impulsar, financiar y dar visibilidad</strong> al trabajo
              de las protectoras de galgos en toda España
            </p>
          </div>
          <div class="col-1">
            <h2 class="fraunces-title">Nuestra<br /> filosofía</h2>
            <p>
              Transparencia, cercanía y unión con el mundo de la automoción para <strong
                >crear comunidad y dar visibilidad.</strong
              >
            </p>
          </div>
        </div>
        <Carruselinicial />
      </div>
    </div>

    <!-- EL PROBLEMA -->

    <div class="section problema-section">
      <div class="content-wrapper">
        <div class="col">
          <h2 class="fraunces-title">
            Una realidad<br /> que no podemos ignorar
          </h2>
          <h3>El problema</h3>
          <p>
            Cuando los galgos no cumplen con las expectativas cinegéticas,
            muchos son abandonados, maltratados o incluso asesinados.
          </p>
        </div>
        <div class="col">
          <img src="/assets/galgo.svg" alt="" />
          <h3>Cifras que duelen</h3>
          <p>
            En 2022, fueron abandonados <strong>12.295 perros de caza</strong>, de los cuales
            <strong>5.544 eran galgos.</strong>

            <br /><br />Se estima que cada año se <strong>desechan entre 50.000 y 80.000
            galgos,</strong> considerando también los que son sacrificados fuera de
            estadísticas oficiales.

            <br /><br />La temporada de caza provoca un auge del abandono: en
            2023, un 11 % de los 170.712 perros abandonados se registró justo al
            terminar esa época.
          </p>
        </div>
      </div>
    </div>

    <!-- UNIDOS POR LOS LATIDOS -->

    <div class="section unidos-section">
      <div class="heading col">
        <h2 class="fraunces-title">Unidos por los latidos</h2>
        <p>
          Nuestra asociación actúa como una plataforma de apoyo y conexión entre
          las protectoras de galgos y los donantes, estructurada en cuatro
          líneas de acción.
        </p>
      </div>

      <div class="content-wrapper">
        <div class="col">
          <p>
            En primer lugar, organizamos <strong
              >eventos solidarios vinculados al mundo del motor</strong
            >, como rutas benéficas, concentraciones con clubs y pilotos y
            encuentros con talleres o concesionarios, destinando íntegramente
            las inscripciones y aportaciones a las protectoras colaboradoras.

            <br /><br /> n segundo lugar, desarrollamos <strong
              >campañas de concienciación y visibilidad</strong
            > mediante colaboraciones con influencers, figuras del motor y medios,
            generando contenido que difunde la realidad del galgo y su abandono, además
            de impartir charlas en colegios, talleres y eventos.

            <br /><br />En tercer lugar, producimos <strong
              >merchandising solidario</strong
            > como camisetas, pegatinas y accesorios personalizados, cuyos beneficios
            permiten financiar necesidades urgentes de las asociaciones.

            <br /><br />Finalmente, articulamos una <strong>red de apoyo</strong
            > que canaliza donaciones económicas y materiales, así como servicios
            como medicación, pienso, voluntariado, casas de acogida y soporte especializado
            en comunicación, diseño y promoción. Todo ello se desarrolla con la intención
            de crear, a medio o largo plazo, un refugio propio que amplíe nuestra
            capacidad de rescate y cuidado de galgos.
          </p>
        </div>
        <div class="col">
          <img src="/assets/galgo-taller.webp" alt="" />
        </div>
      </div>
    </div>

    <!-- TIENDA SOLIDARIA -->

    <div class="asimetric-section tienda-section">
      <div class="content-wrapper">
        <div class="col">
          <h2 class="fraunces-title">Tienda <br />solidaria</h2>
          <p>
            Los beneficios se destinan a apoyar a protectoras de galgos en
            España, financiando rescates, tratamientos y cuidados urgentes.
            <br /><br />Comprar en nuestra tienda es transformar un gesto
            cotidiano en una segunda oportunidad.
          </p>
          <a href="#" class="button button-light"
            ><i class="ph-bold ph-download-simple"></i>Descargar</a
          >
        </div>
        <Carruseltienda />
      </div>
    </div>

    <!-- CARRUSEL IMÁGENES -->

    <div class="section full-section">
      <div class="content-wrapper">
        <Carruselfull />
      </div>
    </div>

    <!-- CÓMO AYUDAR -->
    <div class="section ayuda-section" id="como-ayudar">
      <div class="heading col">
        <h2 class="fraunces-title">¿Cómo puedo ayudar?</h2>
      </div>

      <div class="content-wrapper">
        <div class="col">
          <IconoTexto
            title="Económico"
            description="Donaciones o aportaciones periódicas."
            icon="ph ph-credit-card"
          />
        </div>
        <div class="col">
          <IconoTexto
            title="Material"
            description="Pienso, medicación, productos de limpieza, accesorios."
            icon="ph ph-bone"
          />
        </div>
        <div class="col">
          <IconoTexto
            title="Voluntariado"
            description="Tiempo, transporte, casas de acogida."
            icon="ph ph-hand-heart"
          />
        </div>
        <div class="col">
          <IconoTexto
            title="Visibilidad"
            description="Ayudar a difundir la causa en redes, prensa y eventos."
            icon="ph ph-eye"
          />
        </div>
      </div>
    </div>

    <!-- FORMULARIO -->
    <div class="section form-section">
      <div class="content-wrapper">
        <div class="col">
          <h2 class="fraunces-title">¡Quiero más información!</h2>
          <form action="">
            <div class="form-group">
              <label for="name">Nombre y apellidos</label>
              <input type="text" id="name" required />
            </div>
            <div class="form-group-container">
              <div class="form-group">
                <label for="email">Correo electrónico</label>
                <input type="email" id="email" required />
              </div>

              <div class="form-group">
                <label for="phone">Teléfono</label>
                <input type="tel" id="phone" required />
              </div>
            </div>

            <div class="form-group">
              <label for="comment">Tu mensaje</label>
              <textarea name="comment" id="comment"></textarea>
            </div>
            <a href="#" class="button button-accent">Enviar</a>
          </form>
        </div>
        <div class="">
          <img src="/assets/galgo-form.webp" alt="" />
        </div>
      </div>
    </div>

    <script src="/src/scripts/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"
    ></script>
  </body>
</html>
