---
import Dogcard from "../Components/Dog-card.astro";
---



          <div class="swiper swiper-full ">
  <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
    <!-- Slides -->
    
    <div class="swiper-slide">
      <Dogcard
        name="Matías"
        age="6 años"
        location="16'99 €"
        img="/assets/galgo-horizontal-1.webp"/>
    </div>
       <div class="swiper-slide">
      <Dogcard
        name="Matías"
        age="6 años"
        location="16'99 €"
        img="/assets/galgo-horizontal-1.webp"/>
    </div>
      <div class="swiper-slide">
      <Dogcard
        name="Matías"
        age="6 años"
        location="16'99 €"
        img="/assets/galgo-horizontal-1.webp"/>
    </div>
      <div class="swiper-slide">
      <Dogcard
        name="Matías"
        age="6 años"
        location="16'99 €"
        img="/assets/galgo-horizontal-1.webp"/>
    </div>
        </div>
      <div class="swiper-slide">
      <Dogcard
        name="Matías"
        age="6 años"
        location="16'99 €"
        img="/assets/galgo-horizontal-1.webp"/>
    </div>
        </div>
      <div class="swiper-slide">
      <Dogcard
        name="Matías"
        age="6 años"
        location="16'99 €"
        img="/assets/galgo-horizontal-1.webp"/>
    </div>
        </div>
      <div class="swiper-slide">
      <Dogcard
        name="Matías"
        age="6 años"
        location="16'99 €"
        img="/assets/galgo-horizontal-1.webp"/>
    </div>
        </div>
      <div class="swiper-slide">
      <Dogcard
        name="Matías"
        age="6 años"
        location="16'99 €"
        img="/assets/galgo-horizontal-1.webp"/>
    </div>
        </div>
      <div class="swiper-slide">
      <Dogcard
        name="Matías"
        age="6 años"
        location="16'99 €"
        img="/assets/galgo-horizontal-1.webp"/>
    </div>
     
   
  </div>
  <div class="swiper-nav">
    <button class="swiper-arrow button button-light is-prev"><i class="ph-bold ph-caret-left"></i></button>
      <button class="swiper-arrow button button-light is-next"><i class="ph-bold ph-caret-right"></i></button>
   

  </div>



</div>



<style>




.swiper-full .swiper-arrow {

  padding: 1em;
  border: none;
  display: flex;
  cursor: pointer;

 
}




.swiper-full .swiper-nav {
  

display: flex;
flex-direction: row;
position: absolute;
z-index: 10;
top: 50%; 
    transform: translateY(-50%);
    width: 100%;
    justify-content: space-between;
    padding: 0 5vw;
    padding-bottom: 1rem;


i {

 
 font-size: 34px;
 
}

button {
  box-shadow: 4px 4px 20px rgba(0, 0, 0,0.3);
}



}




.swiper-full {
  position: relative;
}

.swiper {
 width: 100%;


gap: 1rem;
  
}

.swiper-full .swiper-slide {
  align-content: center;
  width: 100%;
}




</style>
