---
import Dogcard from "../Components/Dog-card.astro";
---

<div class="swiper-outer">

          <div class="swiper swiper-full ">
  <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
    <!-- Slides -->
    
  
     
     
   
    
     
        
      <div class="swiper-slide">
      <Dogcard
        name="Bravo"
        age="5 años"
        location="Alcobendas, Madrid"
        img="/assets/galgo-horizontal-1.webp"/>
       </div>
        <div class="swiper-slide">
      <Dogcard
        name="Luna"
        age="3 años"
        location="Dos Hermanas, Sevilla"
        img="/assets/galgo-horizontal-2.webp"/>
       </div>
        <div class="swiper-slide">
      <Dogcard
        name="Gala"
        age="2 años"
        location="Paterna, Valencia"
        img="/assets/galgo-horizontal-3.webp"/>
       </div>
        <div class="swiper-slide">
      <Dogcard
        name="Teo"
        age="7 años"
        location="Utebo, Zaragoza"
        img="/assets/galgo-horizontal-4.webp"/>
       </div>
        <div class="swiper-slide">
      <Dogcard
        name="Nala"
        age="4 años"
        location="Torremolinos, Málaga"
        img="/assets/galgo-horizontal-5.webp"/>
       </div>
        <div class="swiper-slide">
      <Dogcard
        name="Simón"
        age="6 años"
        location="Miranda de Ebro, Burgos"
        img="/assets/galgo-horizontal-6.webp"/>
       </div>
     
     
     
   
  </div>




</div>

  <div class="swiper-nav">
    <button class="swiper-arrow button button-light is-prev"><i class="ph-bold ph-caret-left"></i></button>
      <button class="swiper-arrow button button-light is-next"><i class="ph-bold ph-caret-right"></i></button>
   

  </div>
</div>


<style>



.swiper-outer .swiper-arrow {

  padding: .8em;
  border: none;
  display: flex;
  cursor: pointer;

 
}




.swiper-outer .swiper-nav {
  

display: flex;
flex-direction: row;
position: absolute;
z-index: 10;
top: 45%; 
    transform: translateY(-50%);
   
    justify-content: space-between;
    width: calc(100% + 80px); /* sobresale 20px a cada lado */
    
    left: -40px; /* desplaza para cubrir el padding */
    


i {

 
 font-size:1.75rem;
 
}

button {
  box-shadow: 4px 4px 20px rgba(0, 0, 0,0.3);
}



}




.swiper-full {
  position: relative;
  padding-bottom: 5rem;
  
  
  
}

.swiper {
 width: 100%;



  
}

.swiper-full .swiper-slide {
  align-content: center;
  width: 100%;
}


.swiper-outer {
  position: relative;
  
  
}


</style>
