---
const {name, age, location, img} = Astro.props
---

<div class="card-container">
    <div class="card-image">
        <img src={img} alt="">
        
    </div>
    <div class="card-text">
        
        <h3 class="name">{name}</h3>
        <div class="age">
            <i class="ph-bold ph-cake"></i><p>{age}</p>
        </div>
        <div class="location">
        <i class="ph-bold ph-house-line"></i><p>{location}</p>
        </div>
        
     
       
    
</div>

<style>
.card-container {
    background-color: var(--light);
    display: flex;
    flex-direction: column;
    gap: 0rem;
    overflow: hidden;
    border-radius: var(--img-corners);
    transition: all .2s ease;
    box-shadow: none;
    height: 100%;
&:hover {
    transform: scale(.99);
}
}

.card-text {

    display: flex;
    flex-direction: column;
    gap: .3rem;
    padding: 0 2rem 1.4rem 1.4rem;
   flex-grow: 1;
    
    
.name {
    color: var(--dark);
    margin-bottom: .5rem;
    font: var(--headline-s);
}

.age, .location {
    font: var(--body-copy-l);
    color: var(--dark-muted-text-2);
    display: flex;
    flex-direction: row;
    gap: .5rem;
    align-items: center;

    i {
        color: var(--accent-500);
    }
    
} 

}


.card-image {
    display: flex;
    flex-direction: column;
    gap: .2rem;

     img {
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
   
    margin-bottom: 1rem;
}
}




</style>
