<footer class="footer">

    <section class="cta">
        <h2>SAY HELLO</h2>
    </section>
    <ul >
		<a href="">About</a>
		<a href="">Work</a>
		<a href="">Contact</a>
	</ul>
			
</footer>


		
        
        
        
        

<style>

.cta {
  
  
 display: flex;
 justify-content: center;
 align-content: flex-start;
  padding: 2rem 2rem 8rem 2rem;
  flex-direction: column;
  text-align: center;
  
  
}
.cta h2 {
  color: #f7f3f0;
 font-size: 15rem;
  
  font-family: 'unbounded';
  font-weight: 300;
}






.footer {

    border-radius: 44px;
    background-color: #312b2b;
    display: flex;
    flex-direction: column;
    width: 96%;
    margin: 0 auto;
   margin-bottom: 2rem;
}

.footer ul {
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 2rem ;
    font-size: .8rem;
    text-decoration: none;
    border-top: #f7f3f05b solid 1px;
   
    
   
}

.footer a {
    text-decoration: none;
    transition: all .1s ease-in-out;
    color: #f7f3f0;
    font-family: 'unbounded';
    font-weight: 300;
    text-transform: uppercase;
    opacity: .5;
}

.footer a:hover {
    opacity: 1;
}








		</style>