<form action="https://api.web3forms.com/submit" method="POST">
         
            <div class="form-group-container">
              <div class="form-group">
                 <input type="hidden" name="access_key" value="0d864027-4774-4698-a66e-aaf65cb99da5">
              <input type="email" name="email" id="email" required placeholder="Tu dirección de correo electrónico."/>
              </div>

             
            </div>
                    <div class="">
                      <div class="form-group">
             
              <textarea name="mensaje" id="mensaje" required placeholder="Escribe aquí tu consulta o mensaje."></textarea>
            </div>

            <button type="submit" class="button button-accent">
              Enviar<i class="ph ph-paper-plane-tilt"></i></button>
            
        </div>
          <p>Al enviar este formulario, aceptas nuestra Política de Privacidad.</p>

          </form>



          <style>


 
 

form {
  display: grid;
  gap: 1em;


input::placeholder, textarea::placeholder {
  color: var(--light);
  opacity: .5;
  font: var(--body-copy-s);
}
p {
  color: var(--dark-muted-text-2);
  font: var(--body-copy-s);
}

}

.form-group {
  display: flex;
  flex-direction: column;
  gap: .5em;
    flex: 1;
}

.form-group-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
      
   
  }





input {
  background-color: var(--dark-muted-text);

  border-radius: 24px;
  color: var(--light);
  padding: 1em 1em;
  width: 100%;
  font: var(--body-copy-m);
  border: 2px solid var(--dark);
  transition: border-color .2s ease;
  




}

label {
  font: var(--body-copy-s);
}

textarea {
  background-color: var(--dark-muted-text);
  
  border-radius: 24px;
  color: var(--light);
  padding: 1em 1em;
  min-height: 15vh;
  font: var(--body-copy-m);
  border: 2px solid var(--dark);
  transition: all .2s ease;
}

.col {
  gap: 4rem;
  justify-content: center;
}

img {
  width: 100%;
}
.content-wrapper {
  gap: 6rem;
  align-items: end;
  
}
  




input:focus, textarea:focus {
  outline: none;
border: 2px solid var(--dark-muted-text-2);
} 



          </style>


